/* citace-pro.css begin */

/*hiding the original citation*/
prm-citation > div
	{
		display:none;
	}
/*.citace-pro
	{
		color:green;
		font-weight:bold;
		margin-top:3em;
	}*/
.citace-pro iframe
	{
		width:100%;
		border:none;
		border-top:1px solid lightgrey;
	}	
/* citace-pro.css end */