/* facets_to_left begin */

prm-search > md-content.md-primoExplore-theme .main, prm-search > md-content.md-primoExplore-theme.main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

div.available-facets
	{
	background-color:rgb(243, 243, 243);
	padding-left:12px;
	border-bottom:1px solid rgb(225, 225, 225);
	}
div.available-facets input
	{
	background-color:#FFFFFF;
	}

@media (min-width:1280px) and (max-width:1919px)
{
div#facets.flex-lg-20{
    -ms-flex: 1 1 30%; 
    flex: 1 1 30%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    max-width: 30%;
    max-height: 100%;
	box-sizing: border-box;}
div#facets.flex-lgPlus-20{
    -ms-flex: 1 1 20%; 
    flex: 1 1 20%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    max-width: 20%;
    max-height: 100%;
	box-sizing: border-box;}
}		

prm-facet [sticky].is-stuck
	{	
	bottom: 210px !important;
	}
prm-facet .multiselect-submit .multiselect-submit-inner
	{
	transform: translateY(-150px);
	/*box-shadow: 0 -6px 50px -8px;*/
	background-color:#f7eda3;
	}
/* facets_to_left end */