/* footer begin */
#footer {
		display: flex;
		background-color: #c0c0c0;
		color: #FFFFFF;
		margin-top:150px;
		padding: 30px 15% 30px 15%;
		/*font-size:80%;*/
		}
@media (min-width:1280px) and (max-width:1919px)
{
#footer	
	{
	padding: 30px 15% 30px 15%;	
	}
}
@media (min-width:960px) and (max-width:1279px)
{
#footer	
	{
	padding: 20px 10% 20px 10%;	
	}
}
@media (max-width:959px)
{
#footer	
	{
	padding: 10px 5% 10px 5%;	
	}
}		
#footer_logo img
		{
		width:100%;
		}
#footer div md-card	
		{	
		background-color: inherit;
		color: inherit;
		}
#footer .md-headline
		{
		font-size:20px;
		line-height:28px;
		}
#footer md-card.default-card
		{
		font-size: 1.0em;
		line-height: 1.2rem;	
		}
#footer .md-button.md-primary,#footer a
		{
		color:rgb(243, 243, 243);	
		}
#footer_logo
		{
		-webkit-flex:1 1 20%;
		flex: 1 1 20%;
		}
#footer_info
		{
		-webkit-flex:1 1 30%;
		flex: 1 1 30%;
		display:flex;
		flex-flow:column;
		}
#footer_info div
		{
		-webkit-flex:1 1 50%;
		flex: 1 1 50%;
		}
#contact
		{
		-webkit-flex:1 1 50%;
		flex: 1 1 50%;
		text-align:center;
		display:flex;
		align-items:flex-end;
		justify-content:center;
		}

/* footer end */