/* footer begin */
#footer {
		display: flex;
		background-color: #E4002B;
		color: #FFFFFF;
		margin-top:150px;
		padding: 30px 30% 30px 30%;
		/*font-size:80%;*/
		}
@media (min-width:1280px) and (max-width:1919px)
{
#footer	
	{
	padding: 30px 30% 30px 30%;	
	}
}
@media (min-width:960px) and (max-width:1279px)
{
#footer	
	{
	padding: 20px 20% 20px 20%;	
	}
}
@media (max-width:959px)
{
#footer	
	{
	padding: 10px 5% 10px 5%;	
	}
}		
#footer div md-card	
		{	
		background-color: inherit;
		color: inherit;
		}
#footer .md-headline
		{
		font-size:20px;
		line-height:28px;
		}
#footer md-card.default-card
		{
		font-size: 1.0em;
		line-height: 1.2rem;	
		}
#footer .md-button.md-primary,#footer a
		{
		color:rgb(243, 243, 243);	
		}
#gdpr
		{
		-webkit-flex:1 1 60%;
		flex: 1 1 60%;
		}
#contact
		{
		-webkit-flex:1 1 40%;
		flex: 1 1 40%;
		}
/* footer end */